@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --white:#f5dddd;
  --black: #1b1a1a;
  --blue: #3a80e9;
  --grey:#888;
  --darkgrey:#1b1b1b;
  --green:#61c96f;
  --red:#f94141;
}

body{
  background-color: var(--black);
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
  /* height: 200vh; */
}


::selection{
  background-color: var(--grey);
}

::-webkit-scrollbar{
  width: 0.3rem;
}

::-webkit-scrollbar-track{
  background-color: var(--white);
}

::-webkit-scrollbar-thumb{
  background-color: var(--blue );
  border-radius: 3rem;
}